<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: tableHeader('用户列表')" />
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="user-form">
                <div class="select-list">
                    <ul>
                        <li>
                            账号名称：<input type="text" name="username"/>
                        </li>
                        <li>
                            用户名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="btn-group-sm" id="toolbar" role="group">
    <a class="btn btn-success" onclick="$.operate.getContent('1')">
        <i class="fa fa-plus"></i> 新增
    </a>
</div>

<div class="col-sm-12 select-table table-striped">
    <table id="bootstrap-table" data-mobile-responsive="true"></table>
</div>

<th:block th:include="include :: tableFooter" />
<script th:inline="javascript">
    var prefix = "/user";

    $(function() {
        var options = {
            url: prefix + "/list",
            modalName : "用户列表",
            width :400,
            height :400,
            addUrl :prefix+"/add",
            editUrl :prefix+"/edit",
            removeUrl :prefix+"/remove",
            columns : [{
                checkbox: true
            },
                {
                    field : 'userId',
                    title : '序号',
                    align: 'center',

                },
                {
                    field : 'username',
                    title : '账号名称',
                    align: 'center',
                },
                {
                    field: 'name',
                    title: '用户名称',
                    align: 'center'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center'
                },
                {
                    field : 'createBy',
                    title : '创建者',
                    align: 'center',
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.getContent(\'2\',\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        console.log(options)
        $.table.init(options);
    });
</script>
</body>
</html>