<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.menu.mapper.MenuMapper">


    <select id="findByRoleId" parameterType="Integer" resultType="Menu">
        select
           m.menu_id, m.parent_id, m.name, m.url, m.authority, m.type, m.icon, m.create_time, m.update_time
        from
        sys_menu as m
        left join sys_role_menu as rm on m.menu_id = rm.menu_id
        and rm.role_id = #{roleId}
    </select>

    <select id="selectMenuListPage" parameterType="Menu" resultType="Menu">
        select m.menu_id, m.parent_id, m.name, m.url, m.authority, m.type, m.icon, m.create_time, m.update_time
        from sys_menu as m
        <where>
            <if test="name != null and name != ''">
                and m.name like concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                and m.type = #{type}
            </if>
            <if test="menuId != null and menuId != ''">
                and m.menu_id = #{menuId}
            </if>
        </where>
    </select>

</mapper>
